body{
	font-family: 'JetBrains Mono', monospace;
	border-radius: 8px;
	padding: 4px 8px;
	background-color : #1f1f1fff;
	color : #a8a8a8ff;
}
p{
	margin : 30px;
}
h1{
	clear : both;
	color : #b8b8b8ff;
	margin : 10px;
}
th{
	color : #b8b8f8ff;
}
td{
	text-align : center;
}
ul{
	margin : 30px;
}
img
{
	width :300px;
	height :200px;
	border-radius : 10px;
}
button
{
	background-color :#1f1f1fff;
	border : none;
}
button:hover
{
	background-color :#0f0f0fff;
}
